src/registry_service.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="Registry_Service" targetNamespace="http://services.aic11.infosys.tuwien.ac.at/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.aic11.infosys.tuwien.ac.at/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://services.aic11.infosys.tuwien.ac.at/" xmlns:tns="http://services.aic11.infosys.tuwien.ac.at/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="bank_transfer" type="tns:bankTransfer"/>
<xs:element name="cheque" type="tns:cheque"/>
<xs:element name="disbursement_preference" type="tns:disbursementPreference"/>
<xs:element name="query" type="tns:query"/>
<xs:element name="queryResponse" type="tns:queryResponse"/>
<xs:element name="wsdl_endpoint" type="tns:wsdlEndpoint"/>
<xs:complexType name="query">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="tns:disbursementPreference"/>
</xs:sequence>
</xs:complexType>
<xs:complexType abstract="true" name="disbursementPreference">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="bankTransfer">
<xs:complexContent>
<xs:extension base="tns:disbursementPreference">
<xs:sequence>
<xs:element minOccurs="0" name="bankName" type="xs:string"/>
<xs:element minOccurs="0" name="bic" type="xs:string"/>
<xs:element minOccurs="0" name="iban" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="cheque">
<xs:complexContent>
<xs:extension base="tns:disbursementPreference">
<xs:sequence>
<xs:element minOccurs="0" name="name" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="queryResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:wsdlEndpoint"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="wsdlEndpoint">
<xs:sequence>
<xs:element minOccurs="0" name="location" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="invalid_parameter">
<xs:sequence/>
</xs:complexType>
<xs:element name="invalid_parameter" type="tns:invalid_parameter"/>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="InvalidParameterException">
    <wsdl:part element="tns:invalid_parameter" name="InvalidParameterException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="query">
    <wsdl:part element="tns:query" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryResponse">
    <wsdl:part element="tns:queryResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IRegistryService">
    <wsdl:operation name="query">
      <wsdl:input message="tns:query" name="query">
    </wsdl:input>
      <wsdl:output message="tns:queryResponse" name="queryResponse">
    </wsdl:output>
      <wsdl:fault message="tns:InvalidParameterException" name="InvalidParameterException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Registry_ServiceSoapBinding" type="tns:IRegistryService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="query">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="query">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="queryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Registry_Service">
    <wsdl:port binding="tns:Registry_ServiceSoapBinding" name="Registry_Service">
      <soap:address location="http://vc.infosys.tuwien.ac.at:8092/registry"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>